.tools {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.tools > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}