@{
    ViewBag.Title = "Meu Cantinho de Estudos";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Um App exclusivo com tudo o que você precisa para gerenciar seus estudos de forma prática e eficaz.</p>
