@model List<MeuCantinhoDeEstudos3.Models.Tema>

@{
    Layout = null;

    <link rel="stylesheet" href="~/Content/Tema.css" />
}

<div style="text-align: right;">
    <p style="float:right;">@DateTime.Now</p>
</div>

<h2 style="margin-top:-33px;">Meu Cantinho de Estudos - Temas</h2>
<hr style="color:#333333;" />

<div>
    <table width="100%" style="margin-top: 15px;">
        <thead>
            <tr style="font-size: 16px;">
                <td><b>Tema</b></td>
                <td><b>Matéria</b></td>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr style="font-size: 14px;">
                    <td>@item.Nome</td>
                    <td>@item.Materia.Nome</td>
                </tr>
            }
        </tbody>
    </table>
</div>